/*
!/.github
!/config
!/mods
!/resourcepacks
!/resourcepacks/Minecraft-Mod-Language-Modpack.zip
!/shaderpacks
!/.clientonlymodlist
!/.gitignore
!/options.txt
!/index.toml
!/pack.toml
!/.packwizignore
!/install_java.*
!/start.bat
!/start.ps1
!/start.sh
!/variables.txt
!/LICENSE
!/README.txt
!/请读我.txt