/*
!/.gitignore
!/create*
!/tfc*
!/ae2
!/almostunified
!/artifacts
!/fancymenu
!/ftb*
!/jade
!/jei*
!/legendarysurvivaloverhaul
!/Mekanism*
!/ModernUI
!/starterstructure
!/starterstructure.json5
!/ad_astra*
!/caelum-client.toml
!/carryon-common.toml
!/chloride-client.json
!/curios*
!/farmersdelight*
!/jecharacters.toml
!/jeed-client.toml
!/majruszsaccessories.json
!/majruszsdifficulty.json
!/playerrevive*
!/sliceanddice*
!/tacz*
!/vintageimprovements*
!/visual_keybinder*
!/waystones-common.toml
!/xaerominimap*